/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: #000;
  /* height: 100vh; */
  background: #fff;
  font-family: sans-serif;
  /* overflow-y: hidden; */
  /* padding: 5rem 5rem; */
  padding: 2rem 2rem 1rem 2rem;
}

input,
textarea {
  @apply text-black
}
.TopBar {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../img/avittathur.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
}

.relative::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: rgb(93, 193, 193);
  opacity: 0;
  transition: opacity 0.3s;
}

.relative:hover::after {
  opacity: 1;
}



